*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    }
    
    body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
    background:#0f172a;
    color:white;
    overflow-x:hidden;
    }
    
    .background{
    position:fixed;
    inset:0;
    background:
    radial-gradient(circle at top left,
    rgba(59,130,246,.35),
    transparent 40%),
    

        radial-gradient(circle at bottom right,
        rgba(168,85,247,.35),
        transparent 40%);
    z-index:-1;
    
    
    }
    
    .container{
    width:100%;
    max-width:1000px;
    }
    
    .hero{
    text-align:center;
    margin-bottom:30px;
    }
    
    .hero h1{
    font-size:3rem;
    font-weight:700;
    margin-bottom:10px;
    }
    
    .hero p{
    color:#cbd5e1;
    max-width:700px;
    margin:auto;
    }
    
    .card,
    .result-card{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:24px;
    padding:30px;
    margin-bottom:30px;
    box-shadow:
    0 10px 30px rgba(0,0,0,0.3);
    }
    
    .upload-section{
    display:flex;
    justify-content:center;
    }
    
    .upload-box{
    width:100%;
    max-width:500px;
    height:180px;
    
    
    border:2px dashed #60a5fa;
    
    border-radius:20px;
    
    display:flex;
    justify-content:center;
    align-items:center;
    
    cursor:pointer;
    
    transition:.3s;
    
    
    }
    
    .upload-box:hover{
    background:rgba(255,255,255,.05);
    }
    
    .upload-box span{
    font-size:1.1rem;
    font-weight:500;
    }
    
    .upload-box input{
    display:none;
    }
    
    .generate-btn{
    width:100%;
    margin-top:25px;
    border:none;
    padding:16px;
    border-radius:15px;
    
    
    background:
    linear-gradient(
    135deg,
    #3b82f6,
    #8b5cf6);
    
    color:white;
    
    font-size:1rem;
    font-weight:600;
    
    cursor:pointer;
    
    transition:.3s;

    
    }
    
    .generate-btn:hover{
    transform:translateY(-2px);
    }
    
    .result-card h2{
    margin-bottom:15px;
    }
    
    .preview-image{
    width:100%;
    max-height:500px;
    
    
    object-fit:contain;
    
    border-radius:18px;
    
    margin-bottom:25px;
    
    
    }
    
    .caption-box{
    background:#111827;
    border:1px solid #334155;
    
    border-radius:15px;
    
    padding:20px;
    
    line-height:1.8;
    
    color:#e2e8f0;
    
    margin-bottom:20px;
    
    }
    
    .copy-btn{
    width:100%;
    border:none;
    padding:14px;
    
    
    border-radius:15px;
    
    background:#10b981;
    
    color:white;
    
    font-size:1rem;
    
    cursor:pointer;
    
    transition:.3s;
    
    }
    
    .copy-btn:hover{
    transform:translateY(-2px);
    }
    
    @media(max-width:768px){
    

    .hero h1{
        font-size:2rem;
    }
    
    .card,
    .result-card{
        padding:20px;
    }

    
    }
    